html, body {
	font-family: 'Lato', sans-serif;
	font-size: small;
	margin: 0;
	padding: 0;
}

center {
	display: block;
	text-align: -webkit-center;
}

/* HEADER */
header {
	position: fixed;
	top: 0;
	left: 0;
	font-size: 13px;
	width: 100%;
	height: 30px;
	float: right;
}
header ul {
	text-align: right;
	margin-top: 5px;
	padding-left: 8px;
}
header ul li {
	list-style-type: none;
	display: inline-block;
	padding: 5px 8px;

}
header ul li a {
	color: #BBBBBB;
	font-weight: 500;
	text-decoration: none;
}

header ul li a:hover {
	color: #000;
	text-decoration: underline;
}

/* MAIN SECTION*/
section #main {
	position: relative;
	top: 100px;
	text-align: center;
}
section #logo {
	padding-top: 109px;
}
section #search_box {
	padding: 5px 9px 0 9px;
	height: 33px;
	width: 525px;
}
section .search_button {
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	color: #757575;
	cursor: default;
	font-size: 13px;
	font-weight: bold;
	margin: 30px 3px;
	min-width: 54px;
	padding: 10px 16px;
	text-align: center;
}
#google_image {
	height: 233px;
	margin-top: 89px;

}

/* FOOTER */

#footer {
	display: block;
	position: absolute;
	height: 40px;
	bottom: 0;
	font-size: 10pt;
	width: 100%;
	background: #f2f2f2;
	color: #666;
	border-top: 1px solid #e4e4e4;
}
#footer .right {
	margin-right: 30px;
	float: right;
	white-space: nowrap;
}
#footer .left {
	margin-left: 30px;
	white-space: nowrap;
}
#footer span {
	list-style: none;
	padding: 0 10px;
}
#footer span a {
	padding-top: 10px;
	color: #777;
	margin: 2px 10px 0;
	display: inline-block;
	text-decoration: none;
}
#footer span a .rg {
	padding-left: 27px;
	margin: 0 !important;
}
#footer span a:hover {
	color: #777;
	text-decoration: underline;
}s